<!DOCTYPE html>
<html>
<head>
    <title>Good bye</title>
</head>
<body>
    <div>Let's play the Madlib.</div>
    <form action = '/madlib'>
        <div><input type='text' name='color' placeholder="your favorite color here"></div>
        <div><input type='text' name='noun' placeholder="your favorite noun here"></div>
        <div><input type='text' name='person' placeholder="a person's name here"></div>
        <div><select name='adjective'>
            <option value="lazy">lazy</option>
            <option value="happy">happy</option>
            <option value="wicked">wicked</option>
        </select></div>
        <input type='submit'>
    </form>
</body>
</html>